@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Đội 1</th>
                <th scope="col">Đội 2</th>
                <th scope="col">Thời Gian </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><img style="width: 25px; padding-bottom: 10px; margin-left: -10px;" src="https://cdn2.cache.vn/soccer-static/logos/png/_TUN.png">Tunisia </td>
                <td><img style="width: 25px; padding-bottom: 10px; margin-left: -10px;" src="https://cdn2.cache.vn/soccer-static/logos/png/_AUS.png">Australia</td>
                <td>17:00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><img style="width: 25px; padding-bottom: 10px; margin-left: -20px;" src="https://cdn2.cache.vn/soccer-static/logos/png/_FRA.png"> Pháp </td>
                <td><img style="width: 25px; padding-bottom: 10px; margin-left: 1px;" src="https://cdn2.cache.vn/soccer-static/logos/png/_DNK.png">Đan Mạch</td>
                <td>23:00</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><img style="width: 25px; padding-bottom: 10px; margin-left: -29px;" src="https://cdn2.cache.vn/soccer-static/logos/png/_AUS.png">ABC</td>
                <td><img style="width: 25px; padding-bottom: 10px; margin-left: 14px;" src="https://cdn2.cache.vn/soccer-static/logos/png/_FRA.png">Bồ Đào Nha </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>Chi Tiết <a href="https://coccoc.com/search?query=tr%E1%BA%ADn+%C4%91%E1%BA%A5u+h%C3%B4m+nay">Thông Tin </a>.</p>
</div>
